/* Header */
.location {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 0;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .cart-icon button {
    font-size: 24px;
    color: #000;
  }
  
  /* Search Bar */
  .search-bar input {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border-radius: 20px; /* Bordas arredondadas */
    border: 1px solid #ccc; /* Borda fina */
    padding: 10px; /* Espaçamento interno */
    width: 70%; /* Reduz a largura (ajuste conforme necessário) */
    margin: auto; /* Centraliza horizontalmente */
    transition: box-shadow 0.3s ease; /* Efeito suave ao focar */
  }
  
  .search-bar input:focus {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais intensa ao focar */
    outline: none; /* Remove a borda padrão ao focar */
  }
  
  
  .search-bar button {
    border-radius: 0;
  }
  
  /* Categories */
  .categories button {
    flex: 1;
    margin: 0 5px;
  }
  
  /* Products */
  .card img {
    height: 150px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .card-text {
    color: #6c757d;
  }
  
  /* Footer */
  .footer {
    font-size: 24px;
    justify-content: space-around;
  }  
  
  